<%
# @author Darcy Branchini, Huda Khan
# @company Mann Library, Cornell University
%>
<%
  if !local_assigns.has_key?(:div_id)
    div_id = "div-" + property_info_object["localName"]
  end
  if !local_assigns.has_key?(:property_display_name)
    property_display_name = property_info_object["name"]
  end
%>

<article class="properties">
 <h3><%=property_display_name.titleize %></h3>
 <div id="<%=div_id%>">
 <ul class="class-grouping">    
<%

#property_info object - these are ALL the statements for the property
#We have partials for each statement, but this is the property level partial
#Specifically for the block view

property_name = property_info_object["name"]
property_type = property_info_object["type"]
statements = property_info_object["statements"]

%>

<% if(property_type == "object" and property_info_object["collatedBySubclass"] == true and property_info_object.has_key?("subclasses")) %>

<%
  #Statement display with subcategories
  subclasses = property_info_object["subclasses"]
  subclasses.each do|subclass|
  #Rails.logger.debug("Subclass exists #{subclass.inspect}")
  subclassname = subclass["name"]
%> 
 <h4><%=subclassname%></h4> 
 
<% if(subclass.has_key?("statements")) %>

<ul class="subclass-grouping">

<%
 #Rails.logger.debug("Subclass does have key statements")
 statements = subclass["statements"]
 statementDisplay = getStatementsDisplay(statements, property_info_object)
 statementDisplay.each do|statement_display|
%>
  
  <li><%=statement_display.html_safe%></li>

<% end #do %>

</ul>

<% end #if %>

<% end #do %>

<% else %>

<%
  #Basic statement display without subcategories
  statementDisplay = getStatementsDisplay(statements, property_info_object) 
%>

  <% if(statementDisplay.size() > 0) %>
    <div class="class-only">
      <% statementDisplay.each do|statement_display| %>
        <li><%=statement_display.html_safe%></li>
      <% end #do %>
    </div>
  <% end #if %>
 
<% end #if %>

  </ul>
  </div>
</article>
